# Cleaning a PostgreSQL Database

In this project, you will work with data from a hypothetical Super Store to challenge and enhance your SQL skills in data cleaning. This project will engage you in identifying top categories based on the highest profit margins and detecting missing values, utilizing your comprehensive knowledge of SQL concepts.

## Data Dictionary:

### `orders`:
| Column | Definition | Data type | Comments |
|--------|------------|-----------|----------|
| `row_id`| Unique Record ID | `INTEGER` |
| `order_id` | Identifier for each order in table | `TEXT` | Connects to `order_id` in `returned_orders` table |
| `order_date` | Date when order was placed | `TEXT` |
| `market` | Market order_id belongs to | `TEXT` |
| `region` | Region Customer belongs to | `TEXT` | Connects to `region` in `people` table |
| `product_id` | Identifier of Product bought | `TEXT` | Connects to `product_id` in `products` table |
| `sales` | Total Sales Amount for the Line Item | `DOUBLE PRECISION` |
| `quantity` | Total Quantity for the Line Item | `DOUBLE PRECISION` |
| `discount` | Discount applied for the Line Item | `DOUBLE PRECISION` |
| `profit` | Total Profit earned on the Line Item | `DOUBLE PRECISION` |

### `returned_orders`:
| Column | Definition | Data type |
|--------|------------|-----------|
| `returned`| Yes values for Order / Line Item Returned | `TEXT` |
| `order_id` | Identifier for each order in table | `TEXT` |
| `market` | Market order_id belongs to | `TEXT` |

### `people`:
| Column | Definition | Data type |
|--------|------------|-----------|
| `person`| Name of Salesperson credited with Order | `TEXT` |
| `region` | Region Salesperson in operating in | `TEXT` |

### `products`:
| Column | Definition | Data type |
|--------|------------|-----------|
| `product_id`| Unique Identifier for the Product | `TEXT` |
| `category` | Category Product belongs to | `TEXT` |
| `sub_category` | Sub Category Product belongs to | `TEXT` |
| `product_name` | Detailed Name of the Product | `TEXT` |

## Instructions

Let's dive into the world of SQL and work our magic to clean and analyze data from our hypothetical Super Store.

Find the top 5 products from each category based on highest total sales. The output should be sorted by category in ascending order and by sales in descending order within each category, i.e. within each category product with highest margin should sit on the top. Save the query as top_five_products_each_category, containing the following columns:

- category
- product_name
- product_total_sales (rounded to two decimal places)
- product_total_profit (rounded to two decimal places)
- product_rank

Calculate the quantity for orders with missing values in the quantity column. To do this, first calculate the unit price for each product based on the orders where the quantity is available, considering factors that might affect pricing. Then, use this unit price to estimate the missing quantity values for orders where the quantity is missing. The calculated values should be stored in the calculated_quantity column. Save query output as impute_missing_values, containing the following columns:

- product_id
- discount
- market
- region
- sales
- quantity
- calculated_quantity (rounded to zero decimal places)

In [ ]:
# Taking a quick look to the data
SELECT *
FROM orders
LIMIT 5

   row_id        order_id order_date  ...    profit shipping_cost order_priority
0     957  MX-2014-105921 2014-05-28  ...    0.0000        21.713         Medium
1   24359   ID-2013-61442 2013-01-15  ...    0.0000        21.710            Low
2   32298  CA-2012-124891 2012-07-31  ...  762.1845       933.570       Critical
3   26341   IN-2013-77878 2013-02-05  ... -288.7650       923.630       Critical
4   25330   IN-2013-71249 2013-10-17  ...  919.9710       915.490         Medium

[5 rows x 21 columns]

In [4]:
SELECT *
FROM products
LIMIT 5

         product_id  ...                                       product_name
0   TEC-AC-10003033  ...  Plantronics CS510 - Over-the-Head monaural Wir...
1   FUR-CH-10003950  ...          Novimex Executive Leather Armchair, Black
2   TEC-PH-10004664  ...                  Nokia Smart Phone, with Caller ID
3   TEC-PH-10004583  ...                     Motorola Smart Phone, Cordless
4  TEC-SHA-10000501  ...                     Sharp Wireless Fax, High-Speed

[5 rows x 4 columns]

In [ ]:
# Find the top 5 products from each category based on highest total sales. The output should be sorted by category in ascending order and by sales in descending order within each category
WITH ranked_products AS (
    SELECT 
        products.category,
        products.product_name,
        ROUND(SUM(ord.sales :: NUMERIC), 2) AS product_total_sales,
        ROUND(SUM(ord.profit :: NUMERIC), 2) AS product_total_profit,
        RANK() OVER(PARTITION BY products.category ORDER BY SUM(ord.sales) DESC) AS product_rank
    FROM orders AS ord
    INNER JOIN products ON ord.product_id = products.product_id
    GROUP BY products.category, products.product_name
)
SELECT * 
FROM ranked_products
WHERE product_rank < 6;

           category  ... product_rank
0         Furniture  ...            1
1         Furniture  ...            2
2         Furniture  ...            3
3         Furniture  ...            4
4         Furniture  ...            5
5   Office Supplies  ...            1
6   Office Supplies  ...            2
7   Office Supplies  ...            3
8   Office Supplies  ...            4
9   Office Supplies  ...            5
10       Technology  ...            1
11       Technology  ...            2
12       Technology  ...            3
13       Technology  ...            4
14       Technology  ...            5

[15 rows x 5 columns]

In [ ]:
# Calculate the quantity for orders with missing values in the quantity column.
WITH missing_orders AS (
    SELECT 
        product_id, discount, market, region, sales, quantity
    FROM orders 
    WHERE quantity IS NULL
), 

unit_price_calculation AS (
    SELECT 
        product_id,
        AVG((sales / quantity) :: NUMERIC) AS unit_price
    FROM orders 
    WHERE quantity IS NOT NULL
    GROUP BY product_id
)

SELECT 
    mo.product_id, mo.discount, mo.market, mo.region, mo.sales, mo.quantity,
    ROUND(mo.sales:: NUMERIC / upc.unit_price, 0) AS calculated_quantity
FROM missing_orders AS mo
JOIN unit_price_calculation AS upc
    ON mo.product_id = upc.product_id

         product_id  discount  market  ...    sales  quantity  calculated_quantity
0  TEC-STA-10003330      0.00  Africa  ...  506.640       NaN                    2
1  FUR-ADV-10000571      0.00    EMEA  ...  438.960       NaN                    4
2   FUR-BO-10001337      0.15      US  ...  308.499       NaN                    3
3  TEC-STA-10004542      0.00  Africa  ...  160.320       NaN                    5
4  FUR-ADV-10004395      0.00    EMEA  ...   84.120       NaN                    3

[5 rows x 7 columns]