GoodThought NGO has been a catalyst for positive change, focusing its efforts on education, healthcare, and sustainable development to make a significant difference in communities worldwide. With this mission, GoodThought has orchestrated an array of assignments aimed at uplifting underprivileged populations and fostering long-term growth.

- **`Assignments`:** Details about each project, including its name, duration (start and end dates), budget, geographical region, and the impact score.
- **`Donations`:** Records of financial contributions, linked to specific donors and assignments, highlighting how financial support is allocated and utilized.
- **`Donors`:** Information on individuals and organizations that fund GoodThoughtâ€™s projects, including donor types.

### Listing the top five assignments based on total value of donations, categorized by donor type.

In [ ]:
WITH donor_totals AS (
  SELECT 
    d.assignment_id,
    ROUND(SUM(d.amount), 2) AS total_donation_amount,
    dn.donor_type
  FROM 
    donations d
  JOIN 
    donors dn ON d.donor_id = dn.donor_id
  GROUP BY 
    d.assignment_id, dn.donor_type
)
SELECT 
  a.assignment_name,
  a.region,
  dt.total_donation_amount AS rounded_total_donation_amount,
  dt.donor_type
FROM 
  assignments a
INNER JOIN 
  donor_totals dt ON a.assignment_id = dt.assignment_id
ORDER BY 
  dt.total_donation_amount DESC
LIMIT 5;

   assignment_name region  rounded_total_donation_amount    donor_type
0  Assignment_3033   East                        3840.66    Individual
1   Assignment_300   West                        3133.98  Organization
2  Assignment_4114  North                        2778.57  Organization
3  Assignment_1765   West                        2626.98  Organization
4   Assignment_268   East                        2488.69    Individual

### Identifing the assignment with the highest impact score in each region, ensuring that each listed assignment has received at least one donation.

In [22]:
WITH donation_summary AS (
  SELECT assignment_id, COUNT(*) AS total_donations
  FROM donations
  GROUP BY assignment_id
),
assignment_rankings AS (
  SELECT 
    a.assignment_name,
    a.region,
    a.impact_score,
    COALESCE(ds.total_donations, 0) AS num_total_donations,
    ROW_NUMBER() OVER (PARTITION BY a.region ORDER BY a.impact_score DESC) AS regional_rank
  FROM assignments a
  JOIN donation_summary ds ON a.assignment_id = ds.assignment_id
)
SELECT
  assignment_name,
  region,
  impact_score,
  num_total_donations
FROM assignment_rankings
WHERE regional_rank = 1
ORDER BY region ASC;

   assignment_name region  impact_score  num_total_donations
0   Assignment_316   East         10.00                    2
1  Assignment_2253  North          9.99                    1
2  Assignment_3547  South         10.00                    1
3  Assignment_2794   West          9.99                    2